

._margin_top{
  margin:1%;
}

._margin_{
	margin-top: 5px;
}


._display_inline{
  display: inline-block;
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
